

body {
  position: releitve;
background-color: black;
color: white;
}

.picture {
    position: fixed;
      width: 100%;
      height: 50%;
      z-index: -2;
    }

    .barrier {
      position: reletive;
      height: 1000px;
      width: 110%;
      z-index: -1;
      background-color: black;
    }

    .container {
      position: releitve;

    }

    .container h3 {
      position: absolute;
      top: 300px;
    }
    .container p.one {
      position: absolute;
      top: 450px;
      text-indent: 25px;
    }

    .container p.two {
      position: absolute;
      top: 575px;
      text-indent: 25px;
    }

    .container a.one {
      position: absolute;
      top: 340px;
    }

    .container a.two {
      position: absolute;
      top: 355px;
    }

    .container a.three {
      position: absolute;
      top: 370px;
    }

    .container a.four {
      position: absolute;
      top: 385px;
    }

    .container a.five {
      position: absolute;
      top: 400px;
    }