:root {
    --primary-color: rgb(48, 51, 107);
    --secondary-color: #be2edd;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: var( --primary-color);
    position: fixed;
    top: 0;
    left: 0;
    Width: 200;
    height: 100%;
    boarder-right: 2px solid;

}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav ul li a {
color:white;
text
}

nav ul li a:hover {

}

nav ul {
    list-style-type:none;
}

nav ul li {

}

header {
    background-color: var( --primary-color);

}

.toggle {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
}

.cta-btn {
    padding: 12px 30px;
}

.modal-container {

}

.modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate()
}