:root {
    --primary-color: rgb(48, 51, 107);
    --secondary-color: #be2edd;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: var( --primary-color);
    position: fixed;
    top: 0;
    left: 0;
    Width: 200;
    height: 100%;
}