

body {
    background: rgb(210 200 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.search {
    height: 50px;
    position: relative;
    
}

.search .btn{
position: absolute;
top: 0px;
left: 270px;
font-size: 24px;
background: rgb(150, 100, 200);
border: 0;
height: 50px;
width: 50px;
}

.search .input {
    background: rgb(150, 100, 200);
    border: 0;
    height: 50px;
    width: 250px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
}