* {
    box-sizing: border-box;
}

body {
    background: rgb(185, 150, 240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.btn {
    background-color: rgb(140, 30, 190);
    height: 70px;
    width: 100px;
    position: relative;
    margin: 5px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(110, 0, 160);
}