* {
    box-sizing: border-box;
}

body {
    background: rgb(185, 150, 240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.btn {
    background-color: rgb(150, 30, 200);
    height: 50px;
    width: 100px;
    position: relative;
    margin: 5px;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    outline: none;
}



